**VIT AI Assignment 2 
Ronodeep Das 20BCE1866
ronodeep.das2020@vitstudent.ac.in**

In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [192]:
df = pd.read_csv('content/drug200.csv')
df.head()
df.tail()

     Age Sex      BP Cholesterol  Na_to_K   Drug
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

**Part 1. Data Preprocessing**

In [113]:
df.describe(include='all')

               Age  Sex    BP Cholesterol     Na_to_K   Drug
count   200.000000  200   200         200  200.000000    200
unique         NaN    2     3           2         NaN      5
top            NaN    M  HIGH        HIGH         NaN  DrugY
freq           NaN  104    77         103         NaN     91
mean     44.315000  NaN   NaN         NaN   16.084485    NaN
std      16.544315  NaN   NaN         NaN    7.223956    NaN
min      15.000000  NaN   NaN         NaN    6.269000    NaN
25%      31.000000  NaN   NaN         NaN   10.445500    NaN
50%      45.000000  NaN   NaN         NaN   13.936500    NaN
75%      58.000000  NaN   NaN         NaN   19.380000    NaN
max      74.000000  NaN   NaN         NaN   38.247000    NaN

In [10]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [75]:
le = LabelEncoder()

In [193]:
y = pd.get_dummies(df.iloc[:,5:]).values
y

array([[1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1]], dtype=uint8)

In [194]:
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [195]:
x = df.iloc[:,0:5]
x.head()

   Age Sex      BP Cholesterol  Na_to_K
0   23   F    HIGH        HIGH   25.355
1   47   M     LOW        HIGH   13.093
2   47   M     LOW        HIGH   10.114
3   28   F  NORMAL        HIGH    7.798
4   61   F     LOW        HIGH   18.043

In [196]:
x['BP'] = le.fit_transform(x['BP'])
x['BP']

0      0
1      1
2      1
3      2
4      1
      ..
195    1
196    1
197    2
198    2
199    1
Name: BP, Length: 200, dtype: int64

In [197]:
x['Sex'] = le.fit_transform(x['Sex'])
x['Sex']

0      0
1      1
2      1
3      0
4      0
      ..
195    0
196    1
197    1
198    1
199    0
Name: Sex, Length: 200, dtype: int64

In [198]:
x['Cholesterol'] = le.fit_transform(x['Cholesterol'])
x['Cholesterol']

0      0
1      0
2      0
3      0
4      0
      ..
195    0
196    0
197    0
198    1
199    1
Name: Cholesterol, Length: 200, dtype: int64

In [199]:
x.head()

   Age  Sex  BP  Cholesterol  Na_to_K
0   23    0   0            0   25.355
1   47    1   1            0   13.093
2   47    1   1            0   10.114
3   28    0   2            0    7.798
4   61    0   1            0   18.043

In [200]:
x=x.values

In [201]:
x

array([[23.   ,  0.   ,  0.   ,  0.   , 25.355],
       [47.   ,  1.   ,  1.   ,  0.   , 13.093],
       [47.   ,  1.   ,  1.   ,  0.   , 10.114],
       [28.   ,  0.   ,  2.   ,  0.   ,  7.798],
       [61.   ,  0.   ,  1.   ,  0.   , 18.043],
       [22.   ,  0.   ,  2.   ,  0.   ,  8.607],
       [49.   ,  0.   ,  2.   ,  0.   , 16.275],
       [41.   ,  1.   ,  1.   ,  0.   , 11.037],
       [60.   ,  1.   ,  2.   ,  0.   , 15.171],
       [43.   ,  1.   ,  1.   ,  1.   , 19.368],
       [47.   ,  0.   ,  1.   ,  0.   , 11.767],
       [34.   ,  0.   ,  0.   ,  1.   , 19.199],
       [43.   ,  1.   ,  1.   ,  0.   , 15.376],
       [74.   ,  0.   ,  1.   ,  0.   , 20.942],
       [50.   ,  0.   ,  2.   ,  0.   , 12.703],
       [16.   ,  0.   ,  0.   ,  1.   , 15.516],
       [69.   ,  1.   ,  1.   ,  1.   , 11.455],
       [43.   ,  1.   ,  0.   ,  0.   , 13.972],
       [23.   ,  1.   ,  1.   ,  0.   ,  7.298],
       [32.   ,  0.   ,  0.   ,  1.   , 25.974],
       [57.   ,  1.   ,  1.   ,  1.   , 19.128],
       [63.   ,  1.   ,  2.   ,  0.   , 25.917],
       [47.   ,  1.   ,  1.   ,  1.   , 30.568],
       [48.   ,  0.   ,  1.   ,  0.   , 15.036],
       [33.   ,  0.   ,  1.   ,  0.   , 33.486],
       [28.   ,  0.   ,  0.   ,  1.   , 18.809],
       [31.   ,  1.   ,  0.   ,  0.   , 30.366],
       [49.   ,  0.   ,  2.   ,  1.   ,  9.381],
       [39.   ,  0.   ,  1.   ,  1.   , 22.697],
       [45.   ,  1.   ,  1.   ,  0.   , 17.951],
       [18.   ,  0.   ,  2.   ,  1.   ,  8.75 ],
       [74.   ,  1.   ,  0.   ,  0.   ,  9.567],
       [49.   ,  1.   ,  1.   ,  1.   , 11.014],
       [65.   ,  0.   ,  0.   ,  1.   , 31.876],
       [53.   ,  1.   ,  2.   ,  0.   , 14.133],
       [46.   ,  1.   ,  2.   ,  1.   ,  7.285],
       [32.   ,  1.   ,  0.   ,  1.   ,  9.445],
       [39.   ,  1.   ,  1.   ,  1.   , 13.938],
       [39.   ,  0.   ,  2.   ,  1.   ,  9.709],
       [15.   ,  1.   ,  2.   ,  0.   ,  9.084],
       [73.   ,  0.   ,  2.   ,  0.   , 19.221],
       [58.   ,  0.   ,  0.   ,  1.   , 14.239],
       [50.   ,  1.   ,  2.   ,  1.   , 15.79 ],
       [23.   ,  1.   ,  2.   ,  0.   , 12.26 ],
       [50.   ,  0.   ,  2.   ,  1.   , 12.295],
       [66.   ,  0.   ,  2.   ,  1.   ,  8.107],
       [37.   ,  0.   ,  0.   ,  0.   , 13.091],
       [68.   ,  1.   ,  1.   ,  0.   , 10.291],
       [23.   ,  1.   ,  2.   ,  0.   , 31.686],
       [28.   ,  0.   ,  1.   ,  0.   , 19.796],
       [58.   ,  0.   ,  0.   ,  0.   , 19.416],
       [67.   ,  1.   ,  2.   ,  1.   , 10.898],
       [62.   ,  1.   ,  1.   ,  1.   , 27.183],
       [24.   ,  0.   ,  0.   ,  1.   , 18.457],
       [68.   ,  0.   ,  0.   ,  1.   , 10.189],
       [26.   ,  0.   ,  1.   ,  0.   , 14.16 ],
       [65.   ,  1.   ,  0.   ,  1.   , 11.34 ],
       [40.   ,  1.   ,  0.   ,  0.   , 27.826],
       [60.   ,  1.   ,  2.   ,  1.   , 10.091],
       [34.   ,  1.   ,  0.   ,  0.   , 18.703],
       [38.   ,  0.   ,  1.   ,  1.   , 29.875],
       [24.   ,  1.   ,  0.   ,  1.   ,  9.475],
       [67.   ,  1.   ,  1.   ,  1.   , 20.693],
       [45.   ,  1.   ,  1.   ,  1.   ,  8.37 ],
       [60.   ,  0.   ,  0.   ,  0.   , 13.303],
       [68.   ,  0.   ,  2.   ,  1.   , 27.05 ],
       [29.   ,  1.   ,  0.   ,  0.   , 12.856],
       [17.   ,  1.   ,  2.   ,  1.   , 10.832],
       [54.   ,  1.   ,  2.   ,  0.   , 24.658],
       [18.   ,  0.   ,  0.   ,  1.   , 24.276],
       [70.   ,  1.   ,  0.   ,  0.   , 13.967],
       [28.   ,  0.   ,  2.   ,  0.   , 19.675],
       [24.   ,  0.   ,  2.   ,  0.   , 10.605],
       [41.   ,  0.   ,  2.   ,  1.   , 22.905],
       [31.   ,  1.   ,  0.   ,  1.   , 17.069],
       [26.   ,  1.   ,  1.   ,  1.   , 20.909],
       [36.   ,  0.   ,  0.   ,  0.   , 11.198],
       [26.   ,  0.   ,  0.   ,  1.   , 19.161],
       [19.   ,  0.   ,  0.   ,  0.   , 13.313],
       [32.   ,  0.   ,  1.   ,  1.   , 10.84 ],
       [60.   ,  1.   ,  0.   ,  0.   , 13.934],
       [64.   ,  1.   ,  2.   ,  0.   ,  7.761],
       [32.   ,  0.   ,  1.   ,  0.   ,  9.712],
       [38.   ,  0.   ,  0.   ,  1.   , 11.326],
       [47.   ,  0.   ,  1.   ,  0.   , 10.067],
       [59.   ,  1.   ,  0.   ,  0.   , 13.935],
       [51.   ,  0.   ,  2.   ,  0.   , 13.597],
       [69.   ,  1.   ,  1.   ,  0.   , 15.478],
       [37.   ,  0.   ,  0.   ,  1.   , 23.091],
       [50.   ,  0.   ,  2.   ,  1.   , 17.211],
       [62.   ,  1.   ,  2.   ,  0.   , 16.594],
       [41.   ,  1.   ,  0.   ,  1.   , 15.156],
       [29.   ,  0.   ,  0.   ,  0.   , 29.45 ],
       [42.   ,  0.   ,  1.   ,  1.   , 29.271],
       [56.   ,  1.   ,  1.   ,  0.   , 15.015],
       [36.   ,  1.   ,  1.   ,  1.   , 11.424],
       [58.   ,  0.   ,  1.   ,  0.   , 38.247],
       [56.   ,  0.   ,  0.   ,  0.   , 25.395],
       [20.   ,  1.   ,  0.   ,  1.   , 35.639],
       [15.   ,  0.   ,  0.   ,  1.   , 16.725],
       [31.   ,  1.   ,  0.   ,  1.   , 11.871],
       [45.   ,  0.   ,  0.   ,  0.   , 12.854],
       [28.   ,  0.   ,  1.   ,  0.   , 13.127],
       [56.   ,  1.   ,  2.   ,  0.   ,  8.966],
       [22.   ,  1.   ,  0.   ,  1.   , 28.294],
       [37.   ,  1.   ,  1.   ,  1.   ,  8.968],
       [22.   ,  1.   ,  2.   ,  0.   , 11.953],
       [42.   ,  1.   ,  1.   ,  0.   , 20.013],
       [72.   ,  1.   ,  0.   ,  1.   ,  9.677],
       [23.   ,  1.   ,  2.   ,  0.   , 16.85 ],
       [50.   ,  1.   ,  0.   ,  0.   ,  7.49 ],
       [47.   ,  0.   ,  2.   ,  1.   ,  6.683],
       [35.   ,  1.   ,  1.   ,  1.   ,  9.17 ],
       [65.   ,  0.   ,  1.   ,  1.   , 13.769],
       [20.   ,  0.   ,  2.   ,  1.   ,  9.281],
       [51.   ,  1.   ,  0.   ,  0.   , 18.295],
       [67.   ,  1.   ,  2.   ,  1.   ,  9.514],
       [40.   ,  0.   ,  2.   ,  0.   , 10.103],
       [32.   ,  0.   ,  0.   ,  1.   , 10.292],
       [61.   ,  0.   ,  0.   ,  0.   , 25.475],
       [28.   ,  1.   ,  2.   ,  0.   , 27.064],
       [15.   ,  1.   ,  0.   ,  1.   , 17.206],
       [34.   ,  1.   ,  2.   ,  0.   , 22.456],
       [36.   ,  0.   ,  2.   ,  0.   , 16.753],
       [53.   ,  0.   ,  0.   ,  1.   , 12.495],
       [19.   ,  0.   ,  0.   ,  1.   , 25.969],
       [66.   ,  1.   ,  0.   ,  0.   , 16.347],
       [35.   ,  1.   ,  2.   ,  1.   ,  7.845],
       [47.   ,  1.   ,  1.   ,  1.   , 33.542],
       [32.   ,  0.   ,  2.   ,  0.   ,  7.477],
       [70.   ,  0.   ,  2.   ,  0.   , 20.489],
       [52.   ,  1.   ,  1.   ,  1.   , 32.922],
       [49.   ,  1.   ,  1.   ,  1.   , 13.598],
       [24.   ,  1.   ,  2.   ,  0.   , 25.786],
       [42.   ,  0.   ,  0.   ,  0.   , 21.036],
       [74.   ,  1.   ,  1.   ,  1.   , 11.939],
       [55.   ,  0.   ,  0.   ,  0.   , 10.977],
       [35.   ,  0.   ,  0.   ,  0.   , 12.894],
       [51.   ,  1.   ,  0.   ,  1.   , 11.343],
       [69.   ,  0.   ,  2.   ,  0.   , 10.065],
       [49.   ,  1.   ,  0.   ,  1.   ,  6.269],
       [64.   ,  0.   ,  1.   ,  1.   , 25.741],
       [60.   ,  1.   ,  0.   ,  1.   ,  8.621],
       [74.   ,  1.   ,  0.   ,  1.   , 15.436],
       [39.   ,  1.   ,  0.   ,  0.   ,  9.664],
       [61.   ,  1.   ,  2.   ,  0.   ,  9.443],
       [37.   ,  0.   ,  1.   ,  1.   , 12.006],
       [26.   ,  0.   ,  0.   ,  1.   , 12.307],
       [61.   ,  0.   ,  1.   ,  1.   ,  7.34 ],
       [22.   ,  1.   ,  1.   ,  0.   ,  8.151],
       [49.   ,  1.   ,  0.   ,  1.   ,  8.7  ],
       [68.   ,  1.   ,  0.   ,  0.   , 11.009],
       [55.   ,  1.   ,  2.   ,  1.   ,  7.261],
       [72.   ,  0.   ,  1.   ,  1.   , 14.642],
       [37.   ,  1.   ,  1.   ,  1.   , 16.724],
       [49.   ,  1.   ,  1.   ,  0.   , 10.537],
       [31.   ,  1.   ,  0.   ,  1.   , 11.227],
       [53.   ,  1.   ,  1.   ,  0.   , 22.963],
       [59.   ,  0.   ,  1.   ,  0.   , 10.444],
       [34.   ,  0.   ,  1.   ,  1.   , 12.923],
       [30.   ,  0.   ,  2.   ,  0.   , 10.443],
       [57.   ,  0.   ,  0.   ,  1.   ,  9.945],
       [43.   ,  1.   ,  2.   ,  1.   , 12.859],
       [21.   ,  0.   ,  0.   ,  1.   , 28.632],
       [16.   ,  1.   ,  0.   ,  1.   , 19.007],
       [38.   ,  1.   ,  1.   ,  0.   , 18.295],
       [58.   ,  0.   ,  1.   ,  0.   , 26.645],
       [57.   ,  0.   ,  2.   ,  0.   , 14.216],
       [51.   ,  0.   ,  1.   ,  1.   , 23.003],
       [20.   ,  0.   ,  0.   ,  0.   , 11.262],
       [28.   ,  0.   ,  2.   ,  0.   , 12.879],
       [45.   ,  1.   ,  1.   ,  1.   , 10.017],
       [39.   ,  0.   ,  2.   ,  1.   , 17.225],
       [41.   ,  0.   ,  1.   ,  1.   , 18.739],
       [42.   ,  1.   ,  0.   ,  1.   , 12.766],
       [73.   ,  0.   ,  0.   ,  0.   , 18.348],
       [48.   ,  1.   ,  0.   ,  1.   , 10.446],
       [25.   ,  1.   ,  2.   ,  0.   , 19.011],
       [39.   ,  1.   ,  2.   ,  0.   , 15.969],
       [67.   ,  0.   ,  2.   ,  0.   , 15.891],
       [22.   ,  0.   ,  0.   ,  1.   , 22.818],
       [59.   ,  0.   ,  2.   ,  0.   , 13.884],
       [20.   ,  0.   ,  1.   ,  1.   , 11.686],
       [36.   ,  0.   ,  0.   ,  1.   , 15.49 ],
       [18.   ,  0.   ,  0.   ,  0.   , 37.188],
       [57.   ,  0.   ,  2.   ,  1.   , 25.893],
       [70.   ,  1.   ,  0.   ,  0.   ,  9.849],
       [47.   ,  1.   ,  0.   ,  0.   , 10.403],
       [65.   ,  1.   ,  0.   ,  1.   , 34.997],
       [64.   ,  1.   ,  0.   ,  1.   , 20.932],
       [58.   ,  1.   ,  0.   ,  0.   , 18.991],
       [23.   ,  1.   ,  0.   ,  0.   ,  8.011],
       [72.   ,  1.   ,  1.   ,  0.   , 16.31 ],
       [72.   ,  1.   ,  1.   ,  0.   ,  6.769],
       [46.   ,  0.   ,  0.   ,  0.   , 34.686],
       [56.   ,  0.   ,  1.   ,  0.   , 11.567],
       [16.   ,  1.   ,  1.   ,  0.   , 12.006],
       [52.   ,  1.   ,  2.   ,  0.   ,  9.894],
       [23.   ,  1.   ,  2.   ,  1.   , 14.02 ],
       [40.   ,  0.   ,  1.   ,  1.   , 11.349]])

In [202]:
from sklearn.model_selection import train_test_split

In [203]:
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [204]:

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=21)

In [206]:

xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((160, 5), (40, 5), (160, 5), (40, 5))

**Part 2 . Build ANN Model**

In [207]:

# ANN Model

model = Sequential()
#input layer
model.add(Dense(8,input_dim=5,activation='sigmoid'))
#hidden layer 1
model.add(Dense(32,activation='sigmoid'))
#hidden layer 2
model.add(Dense(26,activation='sigmoid'))
#hidden layer 3
model.add(Dense(26,activation='sigmoid'))
#output layer
model.add(Dense(5,activation='softmax'))

In [208]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [181]:

model.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_45 (Dense)            (None, 8)                 48

 dense_46 (Dense)            (None, 32)                288

 dense_47 (Dense)            (None, 26)                858

 dense_48 (Dense)            (None, 26)                702

 dense_49 (Dense)            (None, 1)                 27

=================================================================
Total params: 1,923
Trainable params: 1,923
Non-trainable params: 0
_________________________________________________________________

**Part 3.Test Model with Random Data**

In [209]:
model.fit(xtrain,ytrain,epochs=30,batch_size=5,validation_data=(xtest,ytest))

Epoch 1/30
32/32 [==============================] - 1s 9ms/step - loss: 1.9032 - accuracy: 0.1250 - val_loss: 1.6721 - val_accuracy: 0.1750
Epoch 2/30
32/32 [==============================] - 0s 3ms/step - loss: 1.5064 - accuracy: 0.3125 - val_loss: 1.4005 - val_accuracy: 0.5250
Epoch 3/30
32/32 [==============================] - 0s 3ms/step - loss: 1.3868 - accuracy: 0.4375 - val_loss: 1.3628 - val_accuracy: 0.5250
Epoch 4/30
32/32 [==============================] - 0s 4ms/step - loss: 1.3683 - accuracy: 0.4375 - val_loss: 1.3641 - val_accuracy: 0.5250
Epoch 5/30
32/32 [==============================] - 0s 4ms/step - loss: 1.3640 - accuracy: 0.4375 - val_loss: 1.3640 - val_accuracy: 0.5250
Epoch 6/30
32/32 [==============================] - 0s 3ms/step - loss: 1.3647 - accuracy: 0.4375 - val_loss: 1.3685 - val_accuracy: 0.5250
Epoch 7/30
32/32 [==============================] - 0s 4ms/step - loss: 1.3605 - accuracy: 0.4375 - val_loss: 1.3608 - val_accuracy: 0.5250
Epoch 8/30
32/32 [==============================] - 0s 3ms/step - loss: 1.3536 - accuracy: 0.4375 - val_loss: 1.3582 - val_accuracy: 0.5250
Epoch 9/30
32/32 [==============================] - 0s 3ms/step - loss: 1.3495 - accuracy: 0.4375 - val_loss: 1.3563 - val_accuracy: 0.5250
Epoch 10/30
32/32 [==============================] - 0s 3ms/step - loss: 1.3414 - accuracy: 0.4375 - val_loss: 1.3515 - val_accuracy: 0.5250
Epoch 11/30
32/32 [==============================] - 0s 3ms/step - loss: 1.3358 - accuracy: 0.4375 - val_loss: 1.3411 - val_accuracy: 0.5250
Epoch 12/30
32/32 [==============================] - 0s 3ms/step - loss: 1.3238 - accuracy: 0.4375 - val_loss: 1.3392 - val_accuracy: 0.5250
Epoch 13/30
32/32 [==============================] - 0s 4ms/step - loss: 1.3106 - accuracy: 0.4375 - val_loss: 1.3320 - val_accuracy: 0.5250
Epoch 14/30
32/32 [==============================] - 0s 3ms/step - loss: 1.2949 - accuracy: 0.4375 - val_loss: 1.3189 - val_accuracy: 0.5250
Epoch 15/30
32/32 [==============================] - 0s 3ms/step - loss: 1.2758 - accuracy: 0.4875 - val_loss: 1.3037 - val_accuracy: 0.5250
Epoch 16/30
32/32 [==============================] - 0s 3ms/step - loss: 1.2584 - accuracy: 0.5437 - val_loss: 1.2839 - val_accuracy: 0.5750
Epoch 17/30
32/32 [==============================] - 0s 6ms/step - loss: 1.2306 - accuracy: 0.5813 - val_loss: 1.2850 - val_accuracy: 0.5250
Epoch 18/30
32/32 [==============================] - 0s 5ms/step - loss: 1.2093 - accuracy: 0.5938 - val_loss: 1.2880 - val_accuracy: 0.5000
Epoch 19/30
32/32 [==============================] - 0s 4ms/step - loss: 1.1841 - accuracy: 0.5813 - val_loss: 1.2375 - val_accuracy: 0.5500
Epoch 20/30
32/32 [==============================] - 0s 5ms/step - loss: 1.1552 - accuracy: 0.5938 - val_loss: 1.2469 - val_accuracy: 0.5500
Epoch 21/30
32/32 [==============================] - 0s 4ms/step - loss: 1.1421 - accuracy: 0.6062 - val_loss: 1.2188 - val_accuracy: 0.5500
Epoch 22/30
32/32 [==============================] - 0s 4ms/step - loss: 1.1174 - accuracy: 0.6062 - val_loss: 1.2087 - val_accuracy: 0.5500
Epoch 23/30
32/32 [==============================] - 0s 4ms/step - loss: 1.0912 - accuracy: 0.6250 - val_loss: 1.2404 - val_accuracy: 0.5500
Epoch 24/30
32/32 [==============================] - 0s 4ms/step - loss: 1.0728 - accuracy: 0.6250 - val_loss: 1.2184 - val_accuracy: 0.5500
Epoch 25/30
32/32 [==============================] - 0s 5ms/step - loss: 1.0547 - accuracy: 0.6438 - val_loss: 1.1760 - val_accuracy: 0.5500
Epoch 26/30
32/32 [==============================] - 0s 4ms/step - loss: 1.0352 - accuracy: 0.6500 - val_loss: 1.1913 - val_accuracy: 0.5500
Epoch 27/30
32/32 [==============================] - 0s 4ms/step - loss: 1.0178 - accuracy: 0.6562 - val_loss: 1.1751 - val_accuracy: 0.5500
Epoch 28/30
32/32 [==============================] - 0s 5ms/step - loss: 1.0099 - accuracy: 0.6625 - val_loss: 1.1493 - val_accuracy: 0.5750
Epoch 29/30
32/32 [==============================] - 0s 5ms/step - loss: 0.9856 - accuracy: 0.6687 - val_loss: 1.1688 - val_accuracy: 0.5500
Epoch 30/30
32/32 [==============================] - 0s 4ms/step - loss: 0.9763 - accuracy: 0.6750 - val_loss: 1.1608 - val_accuracy: 0.5750

In [210]:
model.predict(xtest)

2/2 [==============================] - 0s 6ms/step

array([[0.13597046, 0.14953274, 0.10388247, 0.12429595, 0.48631838],
       [0.721524  , 0.08737375, 0.03990736, 0.05088045, 0.10031445],
       [0.605149  , 0.11228122, 0.05488049, 0.06959382, 0.1580955 ],
       [0.5679599 , 0.1188732 , 0.05935383, 0.07524716, 0.1785659 ],
       [0.04492837, 0.12522727, 0.10311754, 0.12195407, 0.6047727 ],
       [0.46799478, 0.1345595 , 0.07129367, 0.08970953, 0.23644258],
       [0.78270596, 0.07225397, 0.0318836 , 0.04051602, 0.07264041],
       [0.6236287 , 0.10857752, 0.05249655, 0.06670672, 0.1485905 ],
       [0.05960602, 0.13161567, 0.10421143, 0.12346817, 0.5810987 ],
       [0.7467622 , 0.08136696, 0.03663531, 0.04665286, 0.08858258],
       [0.7680738 , 0.07602466, 0.03381935, 0.04302915, 0.07905302],
       [0.11786719, 0.14575246, 0.10363176, 0.1244839 , 0.50826466],
       [0.0554058 , 0.13003695, 0.1040711 , 0.12315025, 0.5873358 ],
       [0.04572659, 0.12564468, 0.10322218, 0.12206887, 0.60333765],
       [0.08837695, 0.141132  , 0.10536295, 0.12500139, 0.54012674],
       [0.04479532, 0.12515844, 0.10309994, 0.12193438, 0.6050118 ],
       [0.15119411, 0.15135239, 0.10326081, 0.1236915 , 0.47050127],
       [0.8499727 , 0.05359788, 0.02289007, 0.02865419, 0.04488514],
       [0.58758616, 0.11566785, 0.05713318, 0.07230448, 0.16730839],
       [0.69664896, 0.09320513, 0.04319719, 0.05500348, 0.11194519],
       [0.04676298, 0.1262558 , 0.10342461, 0.12224589, 0.6013107 ],
       [0.84299767, 0.05564509, 0.02382654, 0.02989996, 0.0476307 ],
       [0.33401972, 0.14924763, 0.0863462 , 0.10693648, 0.32345   ],
       [0.36743656, 0.14569743, 0.08225189, 0.10275274, 0.30186126],
       [0.2549008 , 0.15350163, 0.09439433, 0.11547896, 0.38172424],
       [0.09939151, 0.14365579, 0.10524546, 0.12509207, 0.52661514],
       [0.8498731 , 0.05362725, 0.02290344, 0.02867211, 0.04492405],
       [0.07538691, 0.1369342 , 0.10469651, 0.12439116, 0.5585911 ],
       [0.06049907, 0.13228485, 0.10455596, 0.12367308, 0.57898706],
       [0.8379473 , 0.05710926, 0.02450641, 0.03080834, 0.04962869],
       [0.84962314, 0.05370134, 0.02293713, 0.02871683, 0.04502146],
       [0.07575572, 0.1379779 , 0.10557423, 0.1247647 , 0.5559274 ],
       [0.71351457, 0.08930667, 0.04098046, 0.05220528, 0.10399289],
       [0.84084994, 0.0562693 , 0.02411641, 0.03028944, 0.04847477],
       [0.6896826 , 0.09469327, 0.04405192, 0.0561308 , 0.11544148],
       [0.8496294 , 0.05369936, 0.02293623, 0.02871577, 0.04501931],
       [0.11799463, 0.14760514, 0.1051898 , 0.12504148, 0.50416905],
       [0.77911645, 0.07318766, 0.03235896, 0.04113416, 0.07420278],
       [0.07130759, 0.13634066, 0.10524535, 0.12446866, 0.5626377 ],
       [0.05227926, 0.12902644, 0.10413246, 0.1229796 , 0.5915822 ]],
      dtype=float32)

In [211]:
ar=[[23,1,0,0,11],[56,0,1,1,10],[19,1,2,0,7.67]]
dd=pd.DataFrame(ar)
model.predict(dd)

1/1 [==============================] - 0s 397ms/step

array([[0.650022  , 0.10327968, 0.04916809, 0.06253039, 0.13499977],
       [0.05118028, 0.12831469, 0.10384769, 0.12276977, 0.5938875 ],
       [0.07689619, 0.13708529, 0.10444245, 0.12432935, 0.5572467 ]],
      dtype=float32)